/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.12.2014, 09:59:48
    Author     : Alfa
*/

* {
    margin: auto;
}



body {
    padding-top: 50px;
    background-color: #e2ecc5;
}

li{
    list-style-type: none;
}

body > div {
    background-color: #b5c48c;
}

.container_element {
    
    border-radius: 5px;
    padding: 10px;
}

#navigation {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 5px #596c24;
    position: fixed;
    left: 20px;
    top: 15%;
    z-index: 2;
    width: 10%;
    
}

#head_menu {
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 5px #596c24;
    position: fixed;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: -50px;
    z-index: 2;
    
}

#user_profile {
    box-shadow: 5px 5px 5px #596c24;
    position: fixed;
    width: 10%;
    left: 20px;
    margin-right: auto;
    top: 30%;
    z-index: 2;
}


.content {
    /*border: 1px solid black;*/
    background-color: #fff;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 20px;
    /*height: 2000px;*/
    
    
    
}

.flash{
    top: 30px;
    position: fixed;
    z-index: 3;
    /*box-shadow: 5px 5px 5px #596c24;*/
    left: 20px;
}


#error{
    
    color:  red;
    border: 1px solid red;
}

#notice{
    color:green;
    border: 1px solid green;
}

#post_form{
    /*box-shadow: 5px 5px 5px #596c24;*/
    position: fixed;
    width: 50%;
    margin-left: 15%;
    margin-right: auto;
    top: 10%;
    /*margin-top: -100px;*/
    z-index: 2;
}

.timeDiff{
    color: grey;
}

.post{
    padding: 10px;
}

.post_message{
    margin-bottom: 10px;
}

.title{
    width: 30%;
}

.postImage{
    max-width: 100%;
}

#post_form_div{
    background-color: white;
    z_index: 2;
    text-align: center;
}

.post_form_div_scroll{
    box-shadow: 3px 3px 3px #b5c48c;
    left: 15%;
    top: 70px;
    width: 70%;
    position: fixed;
}

.first_post_scroll{
    margin-top: 145px;
    
}