/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.12.2014, 09:59:48
    Author     : Alfa
*/

* {
    margin: auto;
}

body {
    padding-top: 50px;
    background-color: #e2ecc5;
}


body > div {
    background-color: #b5c48c;
}

.container_element {
    
    border-radius: 5px;
    padding: 10px;
}

li{
    list-style-type: none;
    margin-bottom: 20px;
}

/*----------------- Formulare und deren Elemente -------------------------------------------- */


#post_form{
    /*box-shadow: 5px 5px 5px #596c24;*/
    position: fixed;
    width: 50%;
    margin-left: 15%;
    margin-right: auto;
    top: 10%;
    /*margin-top: -100px;*/
    z-index: 2;
}

#login_form{
    display: inline-block;
}

#search_form{
    float: left;
    margin-right: 5%;
    
}

.textarea_post{
    width: 30%;
    resize: none;
    min-width: 200px;
}

.title{
    width: 30%;
    min-width: 200px;
}

.comment{
    width: 30%;
    min-width: 200px;
}



/* -------------------------------------------------------------------------------------------*/

#navigation {
    /*border: 1px solid black;*/
    box-shadow: 3px 3px 3px #596c24;
    position: fixed;
    left: 1%;
    top: 15%;
    z-index: 2;
    width: 10%;
    text-align: center;
    
}

#head_menu {
    /*border: 1px solid black;*/
    box-shadow: 3px 3px 3px #596c24;
    position: fixed;
    width: 70%;
    margin-left: 20%;
    margin-right: auto;
    margin-top: -50px;
    z-index: 2;
    
}

#user_profile {
    box-shadow: 3px 3px 3px #596c24;
    position: fixed;
    width: 10%;
    left: 1%;
    margin-right: auto;
    top: 30%;
    z-index: 2;
}

.content {
    /*border: 1px solid black;*/
    background-color: #fff;
    width: 70%;
    margin-left: 20%;
/*    margin-right: auto;*/
    margin-top: 40px;
    margin-bottom: 300px;
    /*height: 2000px;*/    
}

@media screen and (max-width: 680px) {
    .content {
        margin-top: 80px;
    }
}

@media screen and (max-width: 430px) {
    .content {
        margin-top: 100px;
    }
}


.flash{
    top: 60px;
    position: fixed;
    z-index: 3;
    box-shadow: 5px 5px 5px #596c24;
    left: 20%;
    
}

@media screen and (max-width: 680px){
    .flash{
       top: 100px;
    }  
}

@media screen and (max-width: 430px) {
    .flash {
        top: 120px;
    }
}


#error{
    
    color:  red;
    border: 1px solid red;
}

#notice{
    color:green;
    border: 1px solid green;
}



.timeDiff{
    color: grey;
}

.post{
    padding: 10px;
}

.post_message{
    margin-bottom: 10px;
}



.postImage{
    max-width: 100%;
}

#post_form_div{
    background-color: white;
    z_index: 2;
    text-align: center;
}

.post_form_div_scroll{
    box-shadow: 3px 3px 3px #b5c48c;
    left: 15%;
    top: 70px;
    width: 70%;
    position: fixed;
}

.first_post_scroll{
    margin-top: 145px;
    
}

.comments{
    display: none;
    background-color: white;
    border-left: 1px solid #b5c48c;
    max-height: 400px;
    overflow: auto;
    margin-left: 0;
    padding-left: 10px;
    width: 50%;
   
    
}

.post_title{
/*    border-bottom: 1px solid #b5c48c;*/
    text-decoration-line: underline;
}

